name: Build libs

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build-episodic:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build episodic
      env:
        DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        SSH_PASS: ${{ secrets.SSH_PASS }}
      run: |
        ./deploy96.sh episodic 1.04 "Half-Life 2 EP1,2"

  build-hl2mp:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build hl2mp
      env:
        DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        SSH_PASS: ${{ secrets.SSH_PASS }}
      run: |
        ./deploy96.sh hl2mp 1.04 "Half-Life 2: Deathmatch" extras_dir.vpk 3

  build-hl1:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build hl1
      env:
        DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        SSH_PASS: ${{ secrets.SSH_PASS }}
      run: |
        ./deploy96.sh hl1 1.04 "Half-Life: Source" extras_dir.vpk 4

  build-cstrike:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build cstrike
      env:
        DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        SSH_PASS: ${{ secrets.SSH_PASS }}
      run: |
        ./deploy96.sh cstrike 1.07 "Counter-Strike: Source" extras_dir.vpk 7

  build-portal:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build portal
      env:
        DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        SSH_PASS: ${{ secrets.SSH_PASS }}
      run: |
        ./deploy96.sh portal 1.03 "Portal" extras_dir.vpk 5

  build-dod:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build DoD
      env:
        DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        SSH_PASS: ${{ secrets.SSH_PASS }}
      run: |
        ./deploy96.sh dod 1.04 "Day of Defeat: Source" extras_dir.vpk 6
